ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
}
/* FIXME grid sizing is very uncooperative */
body {
    display: grid;
    grid-template:
        "assets steps player" 1fr
        "assets steps roles" 1fr
    ;
    height: 100%;
    margin: 0;

    background: #404040;
    color: white;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 18px;
}

/* Panels, which the entire editor UI is made of */
section.gleam-editor-panel {
    display: flex;
    flex-direction: column;
    border: 2px solid #101010;
}
section.gleam-editor-panel > header {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.33em 0.5em;
    background: #202020;
}
section.gleam-editor-panel > header h1 {
    flex: 0 0 auto;
    margin: 0;
}
section.gleam-editor-panel > header nav {
    flex: 0 0 auto;
    display: flex;
    margin: 0;
}
section.gleam-editor-panel > .gleam-editor-panel-body {
    position: relative;
    flex: 1 0 0;
    overflow: auto;
}
#gleam-editor-player {
    grid-area: player;
}
#gleam-editor-roles {
    grid-area: roles;
}
#gleam-editor-assets {
    grid-area: assets;
}
#gleam-editor-script {
    grid-area: steps;
}

body > section.gleam-editor-drag-hover {
    border-color: hsl(210, 50%, 6.25%);
    background-color: hsl(210, 50%, 25%);
}
body > section.gleam-editor-drag-hover > header {
    background-color: hsl(210, 50%, 12.5%);
}

/* TODO super can't get away with this for long */
nav button {
    margin: 0 0.25em;
    padding: 0.5em;
    line-height: 1em;
    border-radius: 3px;
    border: none;
    background: #606060;
    color: black;
}
nav button:hover {
    background: #808080;
}

/* Stage panel */
#gleam-editor-player {
    background: #303030;
}
#gleam-editor-player > .gleam-editor-panel-body {
    flex: 1;
    padding: 1em;
    overflow: visible;
}
#gleam-editor-player .gleam-player {
    margin: auto;
}

/* Roles panel */
ol.gleam-editor-roles {
}
ol.gleam-editor-roles > li {
    margin: 0.5em;
    border: 1px solid #202020;
    background: white;
    color: #202020;
}
ol.gleam-editor-roles > li h2 {
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1.25em;
    background: hsl(0, 0%, 75%);
}
ol.gleam-editor-roles > li h3 {
    margin: 0.5em 0 0;
    padding: 0.125em 0.5em;
    border-bottom: 2px solid #404040;
    font-weight: normal;
    font-size: 1.2em;
}
ul.gleam-editor-role-pictureframe-poses {
    margin: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
ul.gleam-editor-role-pictureframe-poses img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

/* Asset panel */
.gleam-editor-assets li {
    padding: 0.25em 0.5em;
}
.gleam-editor-assets li.-missing {
    background: #803838;
}

/* Script panel */
#gleam-editor-script {
    /* Need this for positioning the drag caret */
    position: relative;
}
ol.gleam-editor-beats-list {
    /* Need this for positioning the numbers */
    position: relative;
    margin: 0.5em 1em;
    padding: 0;

    /* make room for numbers */
    padding-left: 1.5em;
    counter-reset: beat;
}
ol.gleam-editor-beats-list > li {
    margin: 0.5em 0;
    border: 1px solid #202020;
    box-shadow: 0 0.125em 0.25em #202020;
}
ol.gleam-editor-beats-list > li::before {
    counter-increment: beat;
    content: counter(beat);
    display: block;
    position: absolute;
    font-size: 0.75em;
    width: 1.5rem;
    margin-left: -2rem;
    text-align: right;
}
/* Step currently showing on stage */
ol.gleam-editor-beats-list > li.--current {
    outline: 2px solid hsl(45, 100%, 50%);
}
ol.gleam-editor-beats-list > li.--current .gleam-editor-step {
    background-color: hsl(45, 100%, 90%);
}

/* TODO ditch this...?  is there any other use for it? */
.gleam-editor-beat-toolbar {
    position: absolute;
    /* needs to be above the items */
    z-index: 1;
    font-size: 0.5em;
    padding: 0.33em;
    /* must match the right margin on the beat list */
    right: 1em;
    /* FIXME this fucking sucks, i want to align the BOTTOM to a TOP edge */
    transform: translateY(-100%);
    border: 1px solid black;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: black;
}
.gleam-editor-step-caret {
    position: absolute;
    z-index: 99;
    margin: 0;
    margin-top: -2px;  /* overlap the border */
    left: 0;
    right: 0;
    height: 3px;
    border: none;
    background: hsl(210, 90%, 60%);
}
.gleam-editor-step-caret.--mid-beat {
    /* Half of the margin between beats */
    margin-top: calc(-0.5em + 2px);
}

/* Steps, used in roles and the script panel */
.gleam-editor-step {
    display: flex;
    background: #f0f0f0;
    color: #202020;
}
.gleam-editor-step.gleam-editor--dragged-step {
    opacity: 0.5;
}
.gleam-editor-step + .gleam-editor-step {
    border-top: 1px solid #808080;
}
.gleam-editor-step > .-who {
    z-index: 1;
    padding: 0.25em 0.5em;
    padding-right: 1em;
    background: hsl(0, 0%, 75%);
    border-top-right-radius: 0.75em 1em;
    border-bottom-right-radius: 0.75em 1em;
}
.gleam-editor-step > .-what {
    padding: 0.25em 0.5em;
    padding-right: 1em;
    background: hsl(0, 0%, 82.5%);
    border-top-right-radius: 0.75em 1em;
    border-bottom-right-radius: 0.75em 1em;
}
.gleam-editor-step > .-who + .-what {
    padding-left: 1.5em;
    margin-left: -1em;
}
.gleam-editor-step > .-how {
    margin: 0.25em 0.5em;
}
.gleam-editor-step > .-how p {
    margin: 0.25em;
}

/* Step arguments */
.gleam-editor-arg-prose {
    white-space: pre-wrap;
}


/* Special styling for particular role types; applies to steps and to the
 * headers of their properties in the role list */
/* Stage */
.gleam-editor-step.gleam-editor-role-stage > .-who,
ol.gleam-editor-roles > li.gleam-editor-role-stage h2 {
    background: hsl(0, 50%, 75%);
}
.gleam-editor-step.gleam-editor-role-stage > .-who::before,
ol.gleam-editor-roles > li.gleam-editor-role-stage h2::before {
    content: '📻';
    margin-right: 0.25em;
}
/* Jukebox */
.gleam-editor-step.gleam-editor-role-jukebox > .-who,
ol.gleam-editor-roles > li.gleam-editor-role-jukebox h2 {
    background: hsl(270, 50%, 75%);
}
.gleam-editor-step.gleam-editor-role-jukebox > .-who::before,
ol.gleam-editor-roles > li.gleam-editor-role-jukebox h2::before {
    content: '📻';
    margin-right: 0.25em;
}
/* Picture frame */
.gleam-editor-step.gleam-editor-role-pictureframe > .-who,
ol.gleam-editor-roles > li.gleam-editor-role-pictureframe h2 {
    background: hsl(330, 50%, 75%);
}
.gleam-editor-step.gleam-editor-role-pictureframe > .-who::before,
ol.gleam-editor-roles > li.gleam-editor-role-pictureframe h2::before {
    content: '🖼️';
    margin-right: 0.25em;
}
/* Dialogue box */
.gleam-editor-step.gleam-editor-role-dialoguebox > .-who,
ol.gleam-editor-roles > li.gleam-editor-role-dialoguebox h2 {
    background: hsl(60, 50%, 75%);
}
.gleam-editor-step.gleam-editor-role-dialoguebox > .-who::before,
ol.gleam-editor-roles > li.gleam-editor-role-dialoguebox h2::before {
    content: '💬️';
    margin-right: 0.25em;
}
/* Character */
.gleam-editor-step.gleam-editor-role-character > .-who,
ol.gleam-editor-roles > li.gleam-editor-role-character h2 {
    background: hsl(210, 50%, 75%);
}
.gleam-editor-step.gleam-editor-role-character > .-who::before,
ol.gleam-editor-roles > li.gleam-editor-role-character h2::before {
    content: '🗣️';
    margin-right: 0.25em;
}
