ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

html {
    height: 100%;
}
/* FIXME grid sizing is very uncooperative */
body {
    background: #404040;
    color: white;
    font-family: Ubuntu, 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.33;
    margin: 0;
}

main {
    width: 100vw;
}
main[hidden] {
    display: none !important;
}
main#gleam-editor-launcher {
    min-height: 100vh;
    overflow: auto;
}
main#gleam-editor-main {
    height: 100vh;
}

input, select {
    font-size: inherit;
    vertical-align: middle;
}

button {
    font-size: inherit;
    margin: 2px;
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background: #404040;
    box-shadow: 0 2px #606060;
    cursor: pointer;
}
button:enabled:hover {
    background: #383838;
}
button:enabled:hover,
button:enabled:focus {
    box-shadow:
        0 0 0 1px #606060,
        0 2px 0 1px #606060;
}
button:enabled:active {
    box-shadow: 0 0 0 1px #606060;
    transform: translateY(2px);
}
button.gleam-big-button {
    font-size: 2em;
}
button:disabled {
    box-shadow: none;
    cursor: auto;
    color: #c0c0c0;
    background: #202020;
}

input[type=text] {
    
}

input[type=radio],
input[type=checkbox] {
    margin: 0 3px;
    vertical-align: middle;
}

input[type=text].gleam-editor-inline {
    width: 100%;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    text-decoration: underline dotted;
}
input[type=text].gleam-editor-inline:focus {
    text-decoration: none;
    /* faux bottom border, without affecting layout */
    box-shadow: 0 1px 0 currentColor;
}

dl.gleam-editor-propmap {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: baseline;
    row-gap: 0.5em;
    column-gap: 0.5em;

    margin: 1em 0.5em;
}
dl.gleam-editor-propmap > dt {
    grid-column: 1;
    text-align: right;
}
dl.gleam-editor-propmap > dd {
    grid-column: 2;
    margin: 0;
}

.gleam-editor-propmap-role {
    padding: 0.25em 0.5em;
    cursor: pointer;
}
.gleam-editor-propmap-role.--missing {
    box-shadow: 0 0 0 1px red;
}
.gleam-editor-propmap-role:hover {
    box-shadow: 0 0 0 1px blue;
}


.gleam-title {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px black, 0 0 4px white;
}

/******************************************************************************/
/* Landing */

#gleam-editor-launcher {
    display: grid;
    grid-template:
        "header header header header header" min-content
        ".      load   .      new    ."
        "intro  intro  intro  intro  intro"
        / 1fr 8fr 1fr 8fr 1fr
    ;
    gap: 2em;

    background: #101010;
}

#gleam-editor-launcher > header {
    grid-area: header;
    padding: 0.5em 1em;
    text-align: right;
    background: #202020;
}

#gleam-editor-load {
    grid-area: load;
}
#gleam-editor-projects-list li {
    margin: 0.5em 0;
}
#gleam-editor-projects-list li.-empty {
    display: none;
    color: #999;
    font-style: italic;
}
#gleam-editor-projects-list li.-empty:last-child {
    /* Only show if the list is otherwise empty */
    display: initial;
}
#gleam-editor-projects-list button {
    display: grid;
    grid-template:
        "title      date"
        "subtitle   filesize"
        "author     beats"
        / 3fr 1fr
    ;
    width: 100%;
    text-align: left;
}
#gleam-editor-projects-list .-title {
    grid-area: title;
    font-size: 1.5em;
}
#gleam-editor-projects-list .-subtitle {
    grid-area: subtitle;
    font-size: 1.25em;
    font-style: italic;
}
#gleam-editor-projects-list .-author {
    grid-area: author;
}
#gleam-editor-projects-list .-date {
    grid-area: date;
    text-align: right;
    color: #999;
}
#gleam-editor-projects-list .-filesize {
    grid-area: filesize;
    text-align: right;
    color: #999;
}
#gleam-editor-projects-list .-beats {
    grid-area: beats;
    text-align: right;
    color: #999;
}

#gleam-editor-new {
    grid-area: new;
}
dl#gleam-editor-new-form {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: end;
    gap: 0.5em;
}
dl#gleam-editor-new-form > dt {
    grid-column: 1;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    color: #ccc;
    font-style: italic;
}
dl#gleam-editor-new-form > dd {
    grid-column: 2;
    margin: 0;
}
#gleam-editor-new-form input[type=text] {
    font-size: 1.25em;
    border: none;
    border-bottom: 1px solid #666;
    background: none;
    color: white;
}
#gleam-editor-new-form input[type=text]:only-child {
    width: 100%;
}

.gleam-editor-size-preview {
    position: relative;
    background: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gleam-editor-size-preview::after {
    /* dummy element to force aspect ratio */
    content: '';
    display: block;
    padding-bottom: 100%;
}
.gleam-editor-size-preview > * {
    position: absolute;
}
.gleam-editor-size-preview > *::before {
    content: attr(data-label);
    display: block;
    position: absolute;
    top: -1.25em;
    left: 0;
    line-height: 1;
}
.gleam-editor-size-preview .-screen {
    border: 1px solid black;

    width: 75%; padding-bottom: 60%;
}
.gleam-editor-size-preview .-browser {
    position: absolute;
    background: #101010;
}
.gleam-editor-size-preview .-viewport {
    position: absolute;
    background: #202020;
}
.gleam-editor-size-preview .-vn {
    position: absolute;
    width: 128px;
    height: 72px;
    border: 1px dashed white;
}

#gleam-editor-intro {
    grid-area: intro;
    padding: 1em;
    background: #222;
}

/******************************************************************************/
/* Editor */

#gleam-editor-main {
    display: grid;
    grid-template:
        "header  header  header" min-content
        "assets  steps   player" min-content
        "assets  steps   roles" 1fr
        /* Grid columns seem to default to a minimum width of min-content, so
         * using minmax(0, ...) will force the script column to shrink if
         * necessary (which it is, because the twiddle debug panel HAS to
         * scroll horizontally) */
        / fit-content(10%) minmax(0, 1fr) min-content
    ;
    gap: 0.5em;
    box-sizing: border-box;  /* needed so padding eats into the 100vw/vh size */
    padding: 0.5em;
    background: #101010;
}

/* Panels, which the entire editor UI is made of */
section.gleam-editor-panel {
    display: flex;
    flex-direction: column;
    background: #202020;
}
section.gleam-editor-panel > header {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.33em 0.5em;
    border-bottom: 1px solid #606060;
}
section.gleam-editor-panel > header h1 {
    flex: 0 0 auto;
    font-size: 1.25em;
    margin: 0;
}
section.gleam-editor-panel > header nav {
    flex: 0 0 auto;
    display: flex;
    margin: 0;
}
section.gleam-editor-panel > .gleam-editor-panel-body {
    position: relative;
    /* Establish a stacking context to quarantine any z nonsense within each panel -- otherwise stuff can be above the overlay, oops! */
    z-index: 0;
    /* Note the flex-basis here has to be something other than auto, or the body's contents will be considered large enough to expand the grid beyond the height of the page viewport!  There's probably a better fix but this is fucking complicated sigh */
    /* FIXME can i hoist this up a level and make it the grid cell's problem? */
    flex: 1 0 10vh;
    /* auto overflow makes the scrollbar optional, so it doesn't count against the min-content width, which then causes an extra horizontal scrollbar on the asset list.  just always show the scrollbar; it's likely to be necessary for nontrivial projects anyway */
    overflow-y: scroll;
}
section.gleam-editor-panel > footer {
    /* TODO this was a bit of a half-baked idea and isn't done yet */
    position: relative;
    flex: 0 1 auto;
    overflow: auto;
    border-top: 1px solid #101010;
}
#gleam-editor-player {
    grid-area: player;
}
#gleam-editor-roles {
    grid-area: roles;
}
#gleam-editor-assets {
    grid-area: assets;
}
#gleam-editor-script {
    grid-area: steps;
}

section.gleam-editor-panel.gleam-editor-drag-hover {
    border-color: hsl(210, 50%, 6.25%);
    background-color: hsl(210, 50%, 25%);
}

/* TODO super can't get away with this for long */
section nav button svg {
    display: block;
}
section nav button {
    margin: 0 0.25em;
    padding: 0;
    border-radius: 3px;
    border: none;
    background: none;
    color: black;
    opacity: 0.5;
    /* FIXME sucks to be undoing my own button customizing */
    box-shadow: none;
}
section nav button:hover {
    opacity: 1;
}

/* Header */
#gleam-editor-main > header {
    grid-area: header;
    display: grid;
    grid-template:
        "script-title gleam"
        "script-title toolbar"
    ;
    color: #a0a0a0;
}
#gleam-editor-main > header h1 {
    grid-area: gleam;
    font-size: 1.5em;
    margin: 0;
    text-align: right;
    color: #606060;
}
#gleam-editor-main > header #gleam-editor-header-metadata {
    grid-area: script-title;
}
#gleam-editor-main > header h2 {
    font-size: 2em;
    margin: 0;
}
#gleam-editor-main > header h3 {
    font-size: 1em;
    margin: 0;
}
#gleam-editor-main > header #gleam-editor-toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

/* Common panel parts */
.gleam-editor-hint {
    font-size: 0.83em;
    margin: 0.5em;
    line-height: 1.2;
    font-style: italic;
    color: #808080;
    text-align: center;
}

/* Stage panel */
#gleam-editor-player {
    background: #303030;
    max-width: 50vw;
    max-height: 50vh;
}
#gleam-editor-player > .gleam-editor-panel-body {
    flex: 1;
    overflow: visible;
}
#gleam-editor-player .gleam-player {
    margin: auto;
}

/* Project/metadata panel */
#gleam-editor-meta > .gleam-editor-panel-body {
    /* Remove the scrollability here; otherwise max-content is interpreted as zero, for some reason */
    overflow: visible;
}

/* Roles panel */
ol.gleam-editor-roles {
}
ol.gleam-editor-roles > li {
    margin: 0.5em;
    border: 1px solid #202020;
    background: white;
    color: #202020;
}
ol.gleam-editor-roles > li header {
    display: flex;
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1.25em;
}
ol.gleam-editor-roles > li header h2 {
    flex: 1 0 auto;
}
ol.gleam-editor-roles > li h2 {
    font-size: 1em;
    margin: 0;
}
ol.gleam-editor-roles > li h3 {
    margin: 0.5em 0 0;
    padding: 0.125em 0.5em;
    border-bottom: 2px solid #404040;
    font-size: 1.2em;
}
dl.gleam-editor-role-jukebox-tracks {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: baseline;
    row-gap: 0.25em;
    column-gap: 0.25em;
    margin: 1em;
}
dl.gleam-editor-role-jukebox-tracks dt {
    grid-column: 1;
    font-family: "Source Code Pro", Inconsolata, monospace;
}
dl.gleam-editor-role-jukebox-tracks dd {
    grid-column: 2;
    margin: 0;
}
dl.gleam-editor-role-jukebox-tracks audio {
    height: 2em;
    vertical-align: middle;
}
dl.gleam-editor-role-jukebox-tracks .-path {
    font-size: 0.83em;
    color: #606060;
}
ul.gleam-editor-role-pictureframe-poses {
    margin: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    row-gap: 0.25em;
    column-gap: 0.25em;
}
ul.gleam-editor-role-pictureframe-poses li {
}
ul.gleam-editor-role-pictureframe-poses .-asset {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}
ul.gleam-editor-role-pictureframe-poses .-asset.--missing {
    width: 100px;
    height: 75px;
    background-color: #fcc;
    text-align: center;
    color: #400;
}
ul.gleam-editor-role-pictureframe-poses .-caption {
    font-size: 0.83em;
    margin: 0.5rem 0;
    font-family: "Source Code Pro", Inconsolata, monospace;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /* This makes the ellipsis appear on the LEFT side, so the suffix is visible */
    direction: rtl;
}

/* Asset panel */
#gleam-editor-assets-source {
    padding: 0.5em;
}

.gleam-editor-assets li {
    padding: 0.25em 0.5em;
}
.gleam-editor-assets li.--unused {
    color: #c0c0c0;
    font-style: italic;
}
.gleam-editor-assets li.--missing {
    color: #f66;
}

/* Script panel */
#gleam-editor-script {
    /* Need this for positioning the drag caret */
    position: relative;
}
ol.gleam-editor-beats-list {
    /* Need this for positioning the numbers */
    position: relative;

    /* make room for numbers */
    padding-left: 1.5em;
    counter-reset: beat;
}
ol.gleam-editor-beats-list > li {
    border: 1px solid #202020;
}
ol.gleam-editor-beats-list > li::before {
    counter-increment: beat;
    content: counter(beat);
    display: block;
    position: absolute;
    width: 1.5rem;
    margin-left: -1.5rem;
    text-align: center;
    /* lol this is such a hack */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
/* Step currently showing on stage */
ol.gleam-editor-beats-list > li.--current .gleam-editor-step {
    background-color: hsl(45, 100%, 90%);
}

.gleam-editor-step-toolbar button svg {
    display: block;
    height: 1em;
    width: 1em;
}
.gleam-editor-step-toolbar button {
    background: none;
    margin: 0 0.5em;
    /* FIXME uhh this maybe matches the line-height on a step so the height looks the same... */
    padding: 0.1em;
    opacity: 0.5;
}
.gleam-editor-step-toolbar button:hover {
    opacity: 1;
    background: none;
}
.gleam-editor-step-toolbar {
    position: absolute;
    /* needs to be above the items */
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.25em;
    background: #0009;
}
/* TODO ditch this...?  is there any other use for it? */
.gleam-editor-beat-toolbar {
    position: absolute;
    /* needs to be above the items */
    z-index: 1;
    font-size: 0.5em;
    padding: 0.33em;
    /* must match the right margin on the beat list */
    right: 1em;
    /* FIXME this fucking sucks, i want to align the BOTTOM to a TOP edge */
    transform: translateY(-100%);
    border: 1px solid black;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: black;
}
.gleam-editor-step-caret {
    position: absolute;
    z-index: 99;
    margin: 0;
    margin-top: -2px;  /* overlap the border */
    left: 0;
    right: 0;
    height: 3px;
    border: none;
    background: hsl(210, 90%, 60%);
}
.gleam-editor-step-caret.--mid-beat {
    /* Half of the margin between beats */
    margin-top: calc(-0.5em + 2px);
}

/* Script footer -- shows the state for each actor on a beat */
#gleam-editor-script > footer {
    display: flex;
    overflow: auto;
}
.gleam-editor-script-role-state {
    flex: 0;
    margin: 0.5em;
    background: #ccc;
    color: #202020;
}
.gleam-editor-script-role-state h2 {
    font-size: 1em;
    margin: 0;
    padding: 0.33em;
}
.gleam-editor-script-role-state dl {
    font-size: 0.83em;
    display: grid;
    grid-template-columns: min-content 0.5em 1fr;
    margin: 0.33em;
    width: 16rem;
    font-family: "Source Code Pro", Inconsolata, monospace;
}
.gleam-editor-script-role-state dt {
    grid-column: 1;
    color: #606060;
    text-align: right;
}
.gleam-editor-script-role-state dd {
    grid-column: 3;
    margin: 0;
    width: 12em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Steps, used in roles and the script panel */
.gleam-editor-step {
    display: flex;
    /* only the error is expected to wrap, but it helps in very cramped layout too */
    flex-wrap: wrap;
    position: relative;
    background: #f0f0f0;
    color: #202020;
}
.gleam-editor-step.--dragged {
    opacity: 0.5;
}
.gleam-editor-step + .gleam-editor-step {
    border-top: 1px solid #ccc;
}
.gleam-editor-step .-handle {
    display: inline-block;
    margin-right: 0.25em;
    color: #fff;
    text-shadow: 0 1px 1px #666;
    cursor: move;
    cursor: grab;
}
.gleam-editor-step > .-who {
    z-index: 1;
    padding: 0.25em 0.5em;
    padding-right: 1em;
    border-top-right-radius: 0.75em 1em;
    border-bottom-right-radius: 0.75em 1em;
}
.gleam-editor-step > .-what {
    padding: 0.25em 0.5em;
    padding-right: 1em;
    background: hsl(0, 0%, 82.5%);
    border-top-right-radius: 0.75em 1em;
    border-bottom-right-radius: 0.75em 1em;
}
.gleam-editor-step > .-who + .-what {
    padding-left: 1.5em;
    margin-left: -1em;
}
.gleam-editor-step > .-how {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.gleam-editor-step > .-how > * {
    padding: 0.25em 0.5em;
}
.gleam-editor-step > .-error {
    /* 100% basis forces it to wrap to its own line */
    flex: 1 0 100%;
    box-sizing: border-box;
    font-size: 0.83em;
    padding: 0.25em 0.5em;
    background: #e8a080;
    color: #602020;
}

/* Step arguments */
/* FIXME consistent hover and "is being edited" effect? */
.gleam-editor-arg-hint {
    color: #999;
}
.gleam-editor-arg-string {
    /* FIXME otherwise it's zero height while empty uggh, same below */
    min-height: 1em;
    text-decoration: underline dotted;
    cursor: pointer;
}
.gleam-editor-arg-string:empty::before {
    content: '(blank)';
    color: #808080;
    font-style: italic;
}
.gleam-editor-arg-enum {
    color: #404fff;
    /* FIXME make this a more obvious click area */
    min-width: 2em;
    min-height: 1em;
    cursor: pointer;
}
.gleam-editor-arg-prose {
    position: relative;
    margin: 0 1em;
    white-space: pre-wrap;
}
/* This becomes a textarea when being edited, so style it like it weren't */
textarea.gleam-editor-arg-prose {
    display: block;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    height: auto;
}
/* FIXME oh fuck off, these don't work with a textarea */
.gleam-editor-arg-prose::before {
    content: '“';
    display: block;
    position: absolute;
    font-size: 2em;
    top: -0.25em;  /* rough alignment for Big Quote */
    left: -0.5rem;
}
.gleam-editor-arg-prose::after {
    content: '”';
    display: block;
    position: absolute;
    font-size: 2em;
    bottom: -0.5em;  /* rough alignment for Big Quote */
    right: -0.5rem;
}


/* Overlay */
.gleam-editor-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    background: transparent;

    /* Center contents, which are assumed to be a single item */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gleam-editor-overlay.--modal {
    background: #0009;
    transition: background 0.2s;
}
.gleam-editor-arg-enum-poses {
    position: absolute;
    min-width: 8em;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 0 1px #444, 0 1px 4px 2px #0004;
}
.gleam-editor-arg-enum-poses li {
    background: #e8e8e8;
    padding: 0.25em 0.5em;
    cursor: pointer;
}
.gleam-editor-arg-enum-poses li:hover {
    background: hsl(45, 75%, 90%);
}


/* Overlaid dialogs */
.gleam-editor-dialog {
    background: white;
    border: 1px solid black;
    box-shadow: 0 2px 2px #0009;
    padding: 1em;
}
.gleam-editor-dialog > header {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #c0c0c0;
}
.gleam-editor-dialog > header h1 {
    font-size: 1.5em;
}
.gleam-editor-dialog > footer {
    /* XXX i really hate this "fighting the surrounding margin" thing */
    margin: -1em;
    padding: 0.5em 1em;
    margin-top: 1em;
    background: #d8d8d8;
    text-align: right;
}
.gleam-editor-dialog > footer button {
    font-size: 1.25em;
}
/* Specific to bulk-add and other file selection */
.gleam-editor-dialog .-files {
    height: 20em;
    overflow-y: scroll;
    border: 1px solid #999;
    background: #f4f4f4;
}
.gleam-editor-dialog .-files li {
    padding: 0.25em 0.33em;
    color: #808080;
}
.gleam-editor-dialog .-files li .-match {
    color: black;
}


/* Special styling for particular role types; applies to steps and to the
 * headers of their properties in the role list */
/* Stage */
.gleam-editor-role-stage {
    background: hsl(0, 80%, 80%);
}
.gleam-editor-role-stage::before {
    content: '📻';
    margin-right: 0.25em;
}
/* Jukebox */
.gleam-editor-role-jukebox {
    background: hsl(270, 80%, 80%);
}
.gleam-editor-role-jukebox::before {
    content: '📻';
    margin-right: 0.25em;
}
/* Picture frame */
.gleam-editor-role-pictureframe {
    background: hsl(330, 80%, 80%);
}
.gleam-editor-role-pictureframe::before {
    content: '🖼️';
    margin-right: 0.25em;
}
/* Dialogue box */
.gleam-editor-role-dialoguebox {
    background: hsl(60, 80%, 80%);
}
.gleam-editor-role-dialoguebox::before {
    content: '💬️';
    margin-right: 0.25em;
}
/* Character */
.gleam-editor-role-character {
    background: hsl(210, 80%, 80%);
}
.gleam-editor-role-character::before {
    content: '🗣️';
    margin-right: 0.25em;
}
